@import url(font-awesome.min.css);
@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway/Raleway-VariableFont_wght.ttf);
}
html, body {
    height: 100%;
}
*{
    margin: 0;
}
.icon::before{
    font-family: FontAwesome, sans-serif;
    font-style: normal;
}
body{
    font-family: "Raleway", Helvetica,sans-serif;
    color: #444;
    background: url(../img/bokeh_car_lights_bg.jpg) center center no-repeat ;
    overflow: hidden;
    background-size:cover ;
    width: 100%;
    display: block;
    min-height:100vh
}
h1,h2,h3,h4,h5,h6{
    font-family: Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: #fff;
}
.home{
    float: left;
    width: 96%;
    margin-bottom: 10px;
}
.form-flex-con{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.inform-flex-con{
    margin: 5% 10%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    /*background-color: #fff;*/
}
.form1{
    background-color: rgba(255, 255, 255, 0.7);
    margin: 5vw 10%;
    padding: 3.2% 4%;
    border-radius: 30px;
}
input{
    background-color: #f5f5f5;
    padding: 2px 0;
    margin: 2px 10px;
}
i{

    transform: translateY(20%);
    color: #888;
    transition: color   0.4s;
}

input:focus ~ i {
    color: #3cadd4;
}
.join-flex{
    display: flex;
    flex-direction:row-reverse;
    background-color: #f5f5f5;
    margin: 20px;
    padding: 1vw 2vw;
    border-radius: 30px;
}
input{
    border: none;
    outline: none;
    font-size: 1.1em;
}
.login-txt{
    margin-bottom: 60px;

    font-size: 2em;
    color: rgba(80, 80, 80);


}
label{
    width: 100%;
    color: rgba(80, 80, 80);
}
button{
    background-color: #3cadd4;
    color: #fff;
    padding: 15px 40px;
    margin-top: 30px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1.1em;
    transition: background-color 2s 0.2s;
}
button:hover {
    background-color: #8b33c5;
}
